{:kotoba.app/id "cloud.itonami.isic-1020", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreigl34jr5b4qeybqvirgvmr5cc7b4go6ubmuhjao6xfvpomgs7ixm4", :kotoba.app/embed-url "ipfs://bafkreigl34jr5b4qeybqvirgvmr5cc7b4go6ubmuhjao6xfvpomgs7ixm4", :published {:archive "https://kotobase.net/ipfs/bafkreigl34jr5b4qeybqvirgvmr5cc7b4go6ubmuhjao6xfvpomgs7ixm4", :size 72692, :put-status 201, :get-status 200, :at "2026-08-15T13:48:05.811Z"}}
